# Platform Core
PORT=8090

# Postgres (наша БД)
DB_HOST=localhost
DB_PORT=5440
DB_USER=platform
DB_PASSWORD=platform
DB_NAME=platform

# Redis
REDIS_HOST=localhost
REDIS_PORT=6390

# Ory Hydra
HYDRA_ADMIN_URL=http://localhost:4445
HYDRA_PUBLIC_URL=http://localhost:4444
